<div class="panel panel-default">
  <div class="panel-header">
    <a href="{{href}}" data-id="{{_id}}">{{title}}</a>
    <a class="btn btn-success save">Save Article</a>
  </div>
  <div class="panel-body">
    <p>{{summary}}</p>
  </div>
</div>